[tool.poetry]
name = "pipen-cli-run"
version = "0.1.1"
description = "A pipen cli plugin to run a process or a pipeline"
authors = ["pwwang <pwwang@pwwang.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7.1"
pipen = "^0.2"
diot = "^0.1"
pardoc = "^0.0.3"
pandas = "^1.3"
rich = "^10.12"
pyparam = "^0.4"
pipen-args = "^0.1"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-cov = "^3.0.0"
pytest-xdist = "^2.4.0"

[tool.poetry.plugins.pipen_cli]
cli-run = "pipen_cli_run:PipenCliRunPlugin"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 79
target-version = ['py37', 'py38', 'py39']
include = '\.pyi?$'

[tool.pytest.ini_options]
# addopts = "-vv --cov-config=.coveragerc --cov=pipen_cli_run --cov-report xml:.coverage.xml --cov-report term-missing"
addopts = "-vv --forked --cov-config=.coveragerc --cov=pipen_cli_run --cov-report xml:.coverage.xml --cov-report term-missing"
filterwarnings = [
    #"error"
]
console_output_style = "progress"
junit_family = "xunit1"
